.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
cards/cluster_congester.json
cards/contact_gate.json
cards/gouki_moonsault.json
cards/gouki_ringtrainer.json
cards/gouki_tagpartner.json
cards/hand_of_nephthys.json
cards/harpie_lady_phoenix_formation.json
cards/sacred_phoenix_of_nephthys.json
cards/simm_tablir.json
cards/superdreadnought_rail_cannon_juggernaut_liebe.json
